name: Node.js CI
"on":
  push:
    branches:
      - master
      - dependabot/**
  pull_request:
    types:
      - opened
      - synchronize
jobs:
  verify:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
          cache: npm
      - run: npm ci
      - run: npm test
